/* o-----------------------------------------------------------------o */
/* o---------------------------Naviagtion Bar------------------------o */
/* o-----------------------------------------------------------------o */

/* Naviagtion Bar  */
#navbar{
    display: flex;
    flex-direction: column;
}

#navbar ul{
    display: flex;
    /* flex-direction: column; */

}

/* o-----------------------------------------------------------------o */
/* o---------------------------HOME Section--------------------------o */
/* o-----------------------------------------------------------------o */

/* HOME Section  */

#home{
  
    /* max-height: 385px; */
    max-width: 100%;  
    /* border: 2px dashed orangered; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
}