
h1{
    color: rgb(219, 37, 37);
    background-color: rgb(250, 170, 250);
    font-size: 33px;
    /* font-style: italic; */
    text-align: center;
    font-family: 'Combo', cursive;;  
}

#theParaOne{
    color:rgb(231, 21, 91);
    font-family: 'Combo', cursive;
    font-weight: bold;
    font-size: 2pc;
    background-color: rgb(63, 11, 122);
    height: 100px;
    width: 400px;
    text-align: center;
    border-width: 4px;
    border-color: rgb(231, 129, 252);
    border-style: dashed;
    border-radius: 3px;
    margin: 8px;
    padding: 14px;
}

#theParaTwo{
    color:rgb(231, 21, 214);
    font-family: 'Combo', cursive;
    font-weight: bold;
    font-size: 2pc;
    background-color: rgb(63, 11, 122);
    height: 100px;
    width: 400px;
    text-align: center;
    /* border:4px solid black; */
    border-top: 3px solid rgb(234, 45, 79);
    border-bottom: 3px solid rgb(27, 189, 211);
    border-left: 3px solid rgb(104, 247, 9);
    border-right: 3px solid gold;
    border-top-left-radius: 20px;
    border-top-right-radius: 40px;
    padding: 8px;
    margin: 16x;
}

#theParaThree{
    height: 500px;
    width: 705px;
    background-image: url('download.png');
    border: 4px solid gray;
    background-repeat: no-repeat;
    /* Have many option for position  */
    background-position: center,center;    
}
