body{
    background-color: black;
    font-family: 'Bebas Neue', cursive;
}

header::before{
    background: url('/Project-01/img/sunset-g4bfe64c79_1920.jpg') no-repeat center center/cover;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    z-index: -1;
    opacity:0.7;
}

.head{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2px;
    box-sizing: border-box;

    /* border: 3px dashed black; */
}

.head .first{
    position: absolute;
    top:12px;
    left: 10px;

    padding: 3px;
    display: flex;
    
    
    /* border: 2px dashed gray; */
}

.head .first img{
    width: 40px;
    height: 30px;
}

.head .first p{
    color: wheat;
   margin: 5px 3px;
}

.head .mid{
    color: pink;
    padding: 3px;
    /* border: 2px dashed gray; */
}

.mid ul{
    display: flex;
    padding: 0px;
    margin: 0px;
    /* border: 2px dashed orange; */
}

.mid ul li{
    list-style: none;
    font-weight: bold;
    
    /* border: 1px solid red; */
}

.mid ul li a:hover, .navbar-01 li a#active{
    color:gray;
}

.mid ul li a{
    padding: 4px;
    margin: 8px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    /* border: 1px dashed green; */
}

.head .last{
    position: absolute;
    top:12px;
    right: 30px;

    color: pink;
    padding: 3px;
    /* border: 2px dashed gray; */
}

.head .last a{
    color: pink;
}

section{
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    padding: 32px;
    margin: 4pc auto;
    height: 200px;
    width: 900px;


    /* border: 3px dashed wheat ; */
}

section h1{
    font-size: 48px;
    font-family: 'Comforter Brush', cursive;
    padding: 0px;
    margin: 0px;

}

section p{
    font-family: 'Peralta', cursive;
}

.Box{
    /* border: 3px dashed orangered; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top:14px;
}

.block{
    color:pink;
    /* border: 3px dashed pink; */
    width: 900px;
    height: 250pc;
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}

.block h1{
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    color: gray;
    font-size: 45px;
    /* background-color: gray; */
    /* border-radius: 30px; */
}

.block li{
    color:orange;
    border: 2px dashed gray;
    border-radius: 12px;
    padding: 4px;
}

.block p{
    /* border: 2px dashed red; */
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    color: wheat;
}

.block .shar li{
    color:wheat;
    border:none;
    padding: 5px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    
}